<%= form_for [@neighborhood, @post, @reply] do |f| %>

  <div class="field">
    <%= f.label 'Reply' %><br />
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit "Post" %>
  </div>

<% end %>
