<%= form_for [@neighborhood, @carpool] do |f| %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.hidden_field :neighborhood_id, :value => @neighborhood.id %>
  </div>

  <div class="actions modal-footer">
    <button type="button" class='btn btn-secondary' data-dismiss='modal'>Close</button>
    <%= f.submit 'Create Carpool!', class: 'btn btn-primary'%>
  </div>

<% end %>
