<header>

  <div class='jumbotron neighborhood-header' style="background-image: url('<%= @neighborhood.img_url %>')">

    <div class="container neighborhood-name">

      <h1 class='display-3'><%= @neighborhood.name %></h1>

    </div>

  </div>

</header>
