<div class='welcome jumbotron'>

  <div class='container'>

    <div class='welcome-headers'>

      <div class='welcome-text'>

        <h1 class='display-3'>Welcome to Diamond Lane, the</h1>

        <img src="https://ga-core.s3.amazonaws.com/production/uploads/program/default_image/2720/GA_Logo.png" alt="GA Logo" style="width: 108px; height: 126px"> <h1>carpool finder!</h1>

        <h3>Find other people commuting to GA from your neighborhood and form a carpool!</h3>

      </div>

      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary btn-lg' %>

    </div>

  </div>

</div>
