<h1>Welcome to the GA carpool finder!</h1>
<h4>Find other people commuting to GA from your neighborhood and form a carpool!</h4>

<%= link_to 'Sign Up', new_user_registration_path %> |
<%= link_to 'Log In', new_user_session_path %>
