<!-- <h1>Carpools Index for <%#= current_user.neighborhood %></h1>

<%# Carpool.where(neighborhood == current_user.neighborhood).each do |carpool| %>
  <ul>
    <li><strong><%#= carpool.name %></strong> &nbsp; <%#= link_to 'Destroy', carpool, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
<%# end %> -->
