/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

.logo {
  padding: 6px;
}

a.navbar-brand {
  padding-left: 5px;
  padding-right: 20px;
}

.btn {
  background-color: #E02119;
  border-color: #000000;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #E0585A;
}

body {
  background-color: #333333;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: rgba(125,125,125,.8);
  margin-bottom: 0;
}

.nav-item .nav-link, .navbar-brand {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: black;
}

.welcome {
  background-image: url('http://images.hgmsites.net/med/carpool-ad-1940s-u-s-office-for-emergency-management-war-production-board_100428166_m.jpg');
  background-size: contain;
  min-height: 650px;
  background-repeat: repeat;
}

.welcome-headers {
  color: white;
  text-align: center;
  background-color: rgba(1,1,1,0.75);
}

.welcome-text {
  margin-bottom: 20px;
}

.neighborhood-header {
  background-image: url('http://2.bp.blogspot.com/-CsmP17on2BM/UFy2bOx49EI/AAAAAAAAAmU/BNMTkVvuruA/s1600/lacma.jpg');
  color: white;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 400px;
  max-height: 450px;
  text-shadow: black 0.3em 0.3em 0.3em;
  position: relative;
}

.neighborhood-name {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.display-3{
  vertical-align: bottom;
}

.field > label {
  color: white;
}

.field > input {
  color: black
}

.modal .field > * {
  color: #000000;
}


.list-group a {
  color: black;
}

.list-group > * {
  background-color: rgba(125,125,125,.8);
}

.detailBox {
    width: 90%;
    border:1px solid #bbb;
    border-radius: 5px;
    margin:50px;
    margin-top: 0;
    max-height: 750px;
    padding: 20px;
    padding-top: 0;
    overflow: auto;
    background-color: rgba(255,255,255,.8);
    color: black;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px 0;
}
.commentList {
    padding:0;
    list-style:none;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}
